Runtime/
vendor/
*.log
.svn
.phpintel/

Public/uploads/
Public/audio
Public/download/
/nbproject/private/
nbproject/
Application/Common/Conf/debug.php

*.sublime-workspace
*.sublime-project



Application/Home/Controller/TController.class.php
Application/Home/Controller/LtTestController.class.php
Application/Home/Model/LtTest.class.php

Public/angular.php

Application/Home/Controller/UnitTestController.class.php

/.idea/

.idea/inspectionProfiles/profiles_settings.xml
Application/Common/Conf/config.php
