<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="./link-look.css" rel="stylesheet" type="text/css">
    <link href="../SBAdmin2/css/bootstrap.min.css" rel="stylesheet">
    <script src="../angular-1.5.0/angular-1.5.0/angular-1.5.0/docs/components/jquery-2.1.1/jquery.min.js"></script>
    <script src="../angular-1.5.0/angular-1.5.0/angular-1.5.0/angular.min.js"></script>
    <script src="../angular-1.5.0/angular-1.5.0/angular-1.5.0/angular-animate.min.js"></script>
    <script src="LinkLookHome.js"></script>
    <title>连连看游戏界面</title>
</head>

<body ng-app="myapp" ng-controller="LinkLookHome">
    <div class="loading" ng-show="myCheck"><img ng-src="{{picUrl}}" class="ajax-loader" /></div>
    <div style="background:url(./img/bg.png) repeat-x;height:264px;">
    </div>
    <div class="container" style="margin-top:-180px;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="main_main_header">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" id="main_main">
                        <div class="row" >
                            <div class="col-md-12" style="background-image:url(./img/select.png);background-size:100% 95%;">
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-7">
                                        <div class="progress" style="margin-top:15px;margin-left:-18px;width:86%;">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{time}}%">
                                                <span class="sr-only"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div style="margin-top:11px;font-size:20px;color:#fff;">{{right}}</div>
                                    </div>
                                    <div class="col-md-1">
                                        <div style="margin-top:11px;margin-left:35px;font-size:20px;color:#fff;">{{error}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="game row" >
                            <div class="col-md-3" style="margin-top:-10px">
                                <div ng-repeat="word in results[0] track by $index" class="flip-container" ng-click="look($index,word)" ontouchstart="this.classList.toggle('hover');">
                                    <div class="flipper pic-{{$index}} reversal">
                                        <div class="front">
                                            <!-- 前面内容 -->
                                        </div>
                                        <div class="back word text-center">
                                            <!-- 背面内容 -->
                                            {{word.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-top:-10px">
                                <div ng-repeat="word in results[1] track by $index" class="flip-container" ng-click="look($index+4,word)">
                                    <div class="flipper pic-{{$index+4}} reversal">
                                        <div class="front">
                                            <!-- 前面内容 -->
                                        </div>
                                        <div class="back word text-center">
                                            <!-- 背面内容 -->
                                            {{word.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-top:-10px">
                                <div ng-repeat="word in results[2] track by $index" class="flip-container" ng-click="look($index+8,word)">
                                    <div class="flipper pic-{{$index+8}} reversal">
                                        <div class="front">
                                            <!-- 前面内容 -->
                                        </div>
                                        <div class="back word text-center">
                                            <!-- 背面内容 -->
                                            {{word.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-top:-10px">
                                <div ng-repeat="word in results[3] track by $index" class="flip-container" ng-click="look($index+12,word)">
                                    <div class="flipper pic-{{$index+12}} reversal">
                                        <div class="front">
                                            <!-- 前面内容 -->
                                        </div>
                                        <div class="back word text-center">
                                            <!-- 背面内容 -->
                                            {{word.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
